/functions/src

/tests
/test

tslint.json
tsconfig.json

*/**/.DS_Store
.editorconfig
.firebaserc
README.md
DB-scheme.png
firestore.rules
jest.config.js
firebase.json
secret.json
.vscode/settings.json
firestore-debug.log